/* About me section  */
.my-img {
	width: 20rem;
	margin-left: 10rem;
	height: 25rem;
	margin-top: 3rem;
	border: 10px solid rgb(58, 51, 51);
}
.about-text {
	margin-top: 3rem;
	margin-left: 0px;
}
.about-title {
	font-size: 2rem;
	font-weight: 600;
}
.about-p {
	margin-top: 2rem;
}
.project-img1 {
	width: 50rem;
}
.projects-title {
	font-size: 2rem;
	font-weight: 500;
}
.bar1 {
	width: 20rem;
}
.skill-img {
	width: 30rem;
}
.skill {
	margin-left: px;
}
.btn-liveLink {
}
@media screen and (max-width: 600px) {
	.my-img {
		width: 25rem;
		margin-left: 0rem;
		margin-top: 3rem;
	}
}
