/* About me section  */
.my-img {
	width: 25rem;
	margin-left: 10rem;
	margin-top: 3rem;
}
.about-text {
	margin-top: 3rem;
	margin-left: 0px;
}
.about-title {
	font-size: 2rem;
	font-weight: 600;
}
.about-p {
	font-weight: 500;
	margin-top: 2rem;
}
.project-img1 {
	width: 50rem;
}
.projects-title {
	font-size: 2rem;
	font-weight: 500;
}
.bar1 {
	width: 30rem;
}
